# Copyright {{ year }}
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

"""The {{ verb }} module."""

from {{ project_name }}.verb import VerbExtension


class {{ verb.capitalize() }}Verb(VerbExtension):
    """The {{ verb }} verb."""

    def add_arguments(self, parser, cli_name):
        """Adds '{{ verb }}' arguments to the given parser.

        Args:
            parser: The parser to which arguments and sub-commands will be added.
            cli_name: The name of the CLI command being processed.

        Returns:
            None
        """
        pass

    def main(self, *, args):
        """Executes the {{ verb }} command.

        Args:
            parser: The parser used to parse the command-line arguments.
            args: The parsed command-line arguments.

        Returns:
            An integer representing the exit status of the command.
        """
        pass
